@import "tailwindcss" source(none);
@source "../../../src";
@source "../../../resources";
@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";
@import "./spectrum-colors.css";
@import "./custom.css";

@theme {
  --font-sans: 'Geist', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', ui-monospace, monospace;
}

details summary {
  list-style: none !important;
}
details summary::marker {
  display: none !important;
  content: '' !important;
}
details summary::-webkit-details-marker {
  display: none !important;
}
