@theme {
  --color-white: rgb(255, 255, 255);
  --color-transparent-white-25: rgba(255, 255, 255, 0);
  --color-transparent-white-50: rgba(255, 255, 255, 0.04);
  --color-transparent-white-75: rgba(255, 255, 255, 0.07);
  --color-transparent-white-100: rgba(255, 255, 255, 0.11);
  --color-transparent-white-200: rgba(255, 255, 255, 0.14);
  --color-transparent-white-300: rgba(255, 255, 255, 0.17);
  --color-transparent-white-400: rgba(255, 255, 255, 0.21);
  --color-transparent-white-500: rgba(255, 255, 255, 0.39);
  --color-transparent-white-600: rgba(255, 255, 255, 0.51);
  --color-transparent-white-700: rgba(255, 255, 255, 0.66);
  --color-transparent-white-800: rgba(255, 255, 255, 0.85);
  --color-transparent-white-900: rgba(255, 255, 255, 0.94);
  --color-transparent-white-1000: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-transparent-black-25: rgba(0, 0, 0, 0);
  --color-transparent-black-50: rgba(0, 0, 0, 0.03);
  --color-transparent-black-75: rgba(0, 0, 0, 0.05);
  --color-transparent-black-100: rgba(0, 0, 0, 0.09);
  --color-transparent-black-200: rgba(0, 0, 0, 0.12);
  --color-transparent-black-300: rgba(0, 0, 0, 0.15);
  --color-transparent-black-400: rgba(0, 0, 0, 0.22);
  --color-transparent-black-500: rgba(0, 0, 0, 0.44);
  --color-transparent-black-600: rgba(0, 0, 0, 0.56);
  --color-transparent-black-700: rgba(0, 0, 0, 0.69);
  --color-transparent-black-800: rgba(0, 0, 0, 0.84);
  --color-transparent-black-900: rgba(0, 0, 0, 0.93);
  --color-transparent-black-1000: rgb(0, 0, 0);
  --color-gray-25: rgb(17, 17, 17);
  --color-gray-50: rgb(27, 27, 27);
  --color-gray-75: rgb(34, 34, 34);
  --color-gray-100: rgb(44, 44, 44);
  --color-gray-200: rgb(50, 50, 50);
  --color-gray-300: rgb(57, 57, 57);
  --color-gray-400: rgb(68, 68, 68);
  --color-gray-500: rgb(109, 109, 109);
  --color-gray-600: rgb(138, 138, 138);
  --color-gray-700: rgb(175, 175, 175);
  --color-gray-800: rgb(219, 219, 219);
  --color-gray-900: rgb(242, 242, 242);
  --color-gray-1000: rgb(255, 255, 255);
  --color-blue-100: rgb(14, 23, 63);
  --color-blue-200: rgb(15, 28, 82);
  --color-blue-300: rgb(12, 33, 117);
  --color-blue-400: rgb(18, 45, 154);
  --color-blue-500: rgb(26, 58, 195);
  --color-blue-600: rgb(37, 73, 229);
  --color-blue-700: rgb(52, 91, 248);
  --color-blue-800: rgb(64, 105, 253);
  --color-blue-900: rgb(86, 129, 255);
  --color-blue-1000: rgb(105, 149, 254);
  --color-blue-1100: rgb(124, 169, 252);
  --color-blue-1200: rgb(152, 192, 252);
  --color-blue-1300: rgb(181, 213, 253);
  --color-blue-1400: rgb(213, 231, 254);
  --color-blue-1500: rgb(238, 245, 255);
  --color-blue-1600: rgb(255, 255, 255);
  --color-red-100: rgb(54, 10, 3);
  --color-red-200: rgb(68, 13, 5);
  --color-red-300: rgb(87, 17, 7);
  --color-red-400: rgb(115, 24, 11);
  --color-red-500: rgb(147, 31, 17);
  --color-red-600: rgb(177, 38, 23);
  --color-red-700: rgb(205, 46, 29);
  --color-red-800: rgb(223, 52, 34);
  --color-red-900: rgb(252, 67, 46);
  --color-red-1000: rgb(255, 103, 86);
  --color-red-1100: rgb(255, 134, 120);
  --color-red-1200: rgb(255, 167, 157);
  --color-red-1300: rgb(255, 196, 189);
  --color-red-1400: rgb(255, 222, 219);
  --color-red-1500: rgb(255, 242, 240);
  --color-red-1600: rgb(255, 255, 255);
  --color-orange-100: rgb(49, 16, 0);
  --color-orange-200: rgb(61, 21, 0);
  --color-orange-300: rgb(80, 27, 0);
  --color-orange-400: rgb(106, 36, 0);
  --color-orange-500: rgb(135, 47, 0);
  --color-orange-600: rgb(162, 59, 0);
  --color-orange-700: rgb(185, 73, 0);
  --color-orange-800: rgb(199, 82, 0);
  --color-orange-900: rgb(224, 100, 0);
  --color-orange-1000: rgb(243, 117, 0);
  --color-orange-1100: rgb(255, 137, 0);
  --color-orange-1200: rgb(255, 173, 45);
  --color-orange-1300: rgb(255, 201, 116);
  --color-orange-1400: rgb(255, 225, 178);
  --color-orange-1500: rgb(255, 243, 225);
  --color-orange-1600: rgb(255, 255, 255);
  --color-yellow-100: rgb(37, 23, 0);
  --color-yellow-200: rgb(47, 29, 0);
  --color-yellow-300: rgb(61, 39, 0);
  --color-yellow-400: rgb(83, 52, 0);
  --color-yellow-500: rgb(107, 67, 0);
  --color-yellow-600: rgb(130, 82, 0);
  --color-yellow-700: rgb(151, 97, 0);
  --color-yellow-800: rgb(164, 106, 0);
  --color-yellow-900: rgb(186, 124, 0);
  --color-yellow-1000: rgb(203, 141, 0);
  --color-yellow-1100: rgb(218, 159, 0);
  --color-yellow-1200: rgb(235, 183, 0);
  --color-yellow-1300: rgb(249, 206, 0);
  --color-yellow-1400: rgb(255, 230, 86);
  --color-yellow-1500: rgb(255, 246, 195);
  --color-yellow-1600: rgb(255, 255, 255);
  --color-chartreuse-100: rgb(23, 28, 0);
  --color-chartreuse-200: rgb(30, 36, 0);
  --color-chartreuse-300: rgb(39, 47, 0);
  --color-chartreuse-400: rgb(53, 63, 0);
  --color-chartreuse-500: rgb(68, 82, 0);
  --color-chartreuse-600: rgb(83, 100, 0);
  --color-chartreuse-700: rgb(97, 116, 0);
  --color-chartreuse-800: rgb(106, 127, 0);
  --color-chartreuse-900: rgb(122, 147, 0);
  --color-chartreuse-1000: rgb(136, 164, 0);
  --color-chartreuse-1100: rgb(151, 181, 0);
  --color-chartreuse-1200: rgb(169, 203, 0);
  --color-chartreuse-1300: rgb(187, 225, 0);
  --color-chartreuse-1400: rgb(219, 240, 117);
  --color-chartreuse-1500: rgb(242, 249, 206);
  --color-chartreuse-1600: rgb(255, 255, 255);
  --color-celery-100: rgb(11, 31, 0);
  --color-celery-200: rgb(15, 38, 0);
  --color-celery-300: rgb(21, 51, 1);
  --color-celery-400: rgb(31, 67, 4);
  --color-celery-500: rgb(41, 86, 8);
  --color-celery-600: rgb(50, 105, 11);
  --color-celery-700: rgb(60, 122, 15);
  --color-celery-800: rgb(66, 134, 18);
  --color-celery-900: rgb(78, 154, 23);
  --color-celery-1000: rgb(88, 172, 28);
  --color-celery-1100: rgb(100, 190, 35);
  --color-celery-1200: rgb(116, 213, 46);
  --color-celery-1300: rgb(136, 234, 65);
  --color-celery-1400: rgb(170, 251, 112);
  --color-celery-1500: rgb(222, 255, 198);
  --color-celery-1600: rgb(255, 255, 255);
  --color-green-100: rgb(0, 30, 23);
  --color-green-200: rgb(0, 38, 29);
  --color-green-300: rgb(0, 51, 38);
  --color-green-400: rgb(0, 68, 48);
  --color-green-500: rgb(2, 87, 58);
  --color-green-600: rgb(3, 106, 67);
  --color-green-700: rgb(4, 124, 75);
  --color-green-800: rgb(6, 136, 80);
  --color-green-900: rgb(9, 157, 89);
  --color-green-1000: rgb(14, 175, 98);
  --color-green-1100: rgb(24, 193, 110);
  --color-green-1200: rgb(57, 215, 134);
  --color-green-1300: rgb(126, 231, 172);
  --color-green-1400: rgb(189, 241, 208);
  --color-green-1500: rgb(229, 250, 236);
  --color-green-1600: rgb(255, 255, 255);
  --color-seafoam-100: rgb(0, 30, 27);
  --color-seafoam-200: rgb(0, 39, 35);
  --color-seafoam-300: rgb(0, 50, 44);
  --color-seafoam-400: rgb(0, 67, 59);
  --color-seafoam-500: rgb(2, 86, 75);
  --color-seafoam-600: rgb(4, 105, 89);
  --color-seafoam-700: rgb(6, 122, 103);
  --color-seafoam-800: rgb(8, 134, 112);
  --color-seafoam-900: rgb(10, 154, 128);
  --color-seafoam-1000: rgb(12, 173, 142);
  --color-seafoam-1100: rgb(14, 190, 156);
  --color-seafoam-1200: rgb(29, 214, 176);
  --color-seafoam-1300: rgb(122, 229, 203);
  --color-seafoam-1400: rgb(186, 241, 222);
  --color-seafoam-1500: rgb(229, 249, 243);
  --color-seafoam-1600: rgb(255, 255, 255);
  --color-cyan-100: rgb(0, 29, 39);
  --color-cyan-200: rgb(0, 36, 49);
  --color-cyan-300: rgb(0, 48, 65);
  --color-cyan-400: rgb(0, 64, 88);
  --color-cyan-500: rgb(0, 82, 113);
  --color-cyan-600: rgb(3, 99, 140);
  --color-cyan-700: rgb(8, 115, 168);
  --color-cyan-800: rgb(13, 125, 186);
  --color-cyan-900: rgb(24, 142, 220);
  --color-cyan-1000: rgb(38, 159, 244);
  --color-cyan-1100: rgb(63, 177, 255);
  --color-cyan-1200: rgb(107, 199, 255);
  --color-cyan-1300: rgb(152, 219, 255);
  --color-cyan-1400: rgb(195, 236, 252);
  --color-cyan-1500: rgb(230, 248, 253);
  --color-cyan-1600: rgb(255, 255, 255);
  --color-indigo-100: rgb(30, 0, 93);
  --color-indigo-200: rgb(35, 0, 110);
  --color-indigo-300: rgb(47, 0, 140);
  --color-indigo-400: rgb(62, 12, 174);
  --color-indigo-500: rgb(79, 30, 209);
  --color-indigo-600: rgb(95, 52, 235);
  --color-indigo-700: rgb(109, 75, 248);
  --color-indigo-800: rgb(116, 91, 252);
  --color-indigo-900: rgb(128, 119, 254);
  --color-indigo-1000: rgb(139, 141, 254);
  --color-indigo-1100: rgb(153, 161, 255);
  --color-indigo-1200: rgb(176, 186, 255);
  --color-indigo-1300: rgb(199, 208, 255);
  --color-indigo-1400: rgb(223, 228, 255);
  --color-indigo-1500: rgb(243, 244, 255);
  --color-indigo-1600: rgb(255, 255, 255);
  --color-purple-100: rgb(41, 0, 79);
  --color-purple-200: rgb(50, 0, 96);
  --color-purple-300: rgb(64, 0, 122);
  --color-purple-400: rgb(83, 0, 159);
  --color-purple-500: rgb(107, 6, 195);
  --color-purple-600: rgb(130, 34, 215);
  --color-purple-700: rgb(148, 62, 224);
  --color-purple-800: rgb(157, 78, 228);
  --color-purple-900: rgb(173, 105, 233);
  --color-purple-1000: rgb(186, 127, 237);
  --color-purple-1100: rgb(197, 149, 240);
  --color-purple-1200: rgb(212, 176, 244);
  --color-purple-1300: rgb(225, 201, 247);
  --color-purple-1400: rgb(238, 224, 250);
  --color-purple-1500: rgb(248, 243, 253);
  --color-purple-1600: rgb(255, 255, 255);
  --color-fuchsia-100: rgb(50, 0, 61);
  --color-fuchsia-200: rgb(61, 0, 74);
  --color-fuchsia-300: rgb(79, 0, 95);
  --color-fuchsia-400: rgb(102, 9, 120);
  --color-fuchsia-500: rgb(127, 23, 146);
  --color-fuchsia-600: rgb(151, 38, 170);
  --color-fuchsia-700: rgb(173, 51, 192);
  --color-fuchsia-800: rgb(186, 60, 206);
  --color-fuchsia-900: rgb(213, 73, 235);
  --color-fuchsia-1000: rgb(232, 91, 253);
  --color-fuchsia-1100: rgb(240, 122, 255);
  --color-fuchsia-1200: rgb(245, 159, 255);
  --color-fuchsia-1300: rgb(248, 191, 255);
  --color-fuchsia-1400: rgb(251, 219, 255);
  --color-fuchsia-1500: rgb(253, 241, 255);
  --color-fuchsia-1600: rgb(255, 255, 255);
  --color-magenta-100: rgb(59, 0, 22);
  --color-magenta-200: rgb(74, 0, 27);
  --color-magenta-300: rgb(93, 0, 34);
  --color-magenta-400: rgb(123, 0, 45);
  --color-magenta-500: rgb(152, 7, 60);
  --color-magenta-600: rgb(181, 19, 76);
  --color-magenta-700: rgb(207, 31, 92);
  --color-magenta-800: rgb(224, 38, 101);
  --color-magenta-900: rgb(255, 51, 119);
  --color-magenta-1000: rgb(255, 96, 149);
  --color-magenta-1100: rgb(255, 128, 171);
  --color-magenta-1200: rgb(255, 163, 194);
  --color-magenta-1300: rgb(255, 193, 214);
  --color-magenta-1400: rgb(255, 220, 232);
  --color-magenta-1500: rgb(255, 241, 246);
  --color-magenta-1600: rgb(255, 255, 255);
  --color-pink-100: rgb(58, 0, 37);
  --color-pink-200: rgb(71, 0, 44);
  --color-pink-300: rgb(90, 0, 57);
  --color-pink-400: rgb(115, 7, 75);
  --color-pink-500: rgb(143, 18, 97);
  --color-pink-600: rgb(171, 29, 119);
  --color-pink-700: rgb(196, 39, 138);
  --color-pink-800: rgb(213, 45, 151);
  --color-pink-900: rgb(236, 67, 175);
  --color-pink-1000: rgb(251, 90, 196);
  --color-pink-1100: rgb(255, 122, 210);
  --color-pink-1200: rgb(255, 159, 223);
  --color-pink-1300: rgb(255, 191, 234);
  --color-pink-1400: rgb(255, 219, 243);
  --color-pink-1500: rgb(255, 241, 250);
  --color-pink-1600: rgb(255, 255, 255);
  --color-turquoise-100: rgb(0, 30, 33);
  --color-turquoise-200: rgb(0, 37, 41);
  --color-turquoise-300: rgb(0, 49, 54);
  --color-turquoise-400: rgb(0, 66, 72);
  --color-turquoise-500: rgb(3, 84, 92);
  --color-turquoise-600: rgb(5, 103, 112);
  --color-turquoise-700: rgb(7, 120, 131);
  --color-turquoise-800: rgb(9, 131, 142);
  --color-turquoise-900: rgb(11, 151, 164);
  --color-turquoise-1000: rgb(13, 168, 182);
  --color-turquoise-1100: rgb(16, 186, 202);
  --color-turquoise-1200: rgb(64, 208, 220);
  --color-turquoise-1300: rgb(128, 225, 231);
  --color-turquoise-1400: rgb(183, 240, 240);
  --color-turquoise-1500: rgb(228, 249, 249);
  --color-turquoise-1600: rgb(255, 255, 255);
  --color-brown-100: rgb(35, 24, 8);
  --color-brown-200: rgb(44, 31, 11);
  --color-brown-300: rgb(58, 40, 14);
  --color-brown-400: rgb(78, 55, 19);
  --color-brown-500: rgb(98, 71, 30);
  --color-brown-600: rgb(115, 88, 47);
  --color-brown-700: rgb(132, 104, 61);
  --color-brown-800: rgb(143, 114, 69);
  --color-brown-900: rgb(163, 132, 84);
  --color-brown-1000: rgb(181, 147, 98);
  --color-brown-1100: rgb(199, 163, 112);
  --color-brown-1200: rgb(222, 185, 130);
  --color-brown-1300: rgb(232, 207, 169);
  --color-brown-1400: rgb(242, 227, 206);
  --color-brown-1500: rgb(250, 244, 236);
  --color-brown-1600: rgb(255, 255, 255);
  --color-silver-100: rgb(26, 26, 26);
  --color-silver-200: rgb(33, 33, 33);
  --color-silver-300: rgb(44, 44, 44);
  --color-silver-400: rgb(59, 59, 59);
  --color-silver-500: rgb(76, 76, 76);
  --color-silver-600: rgb(92, 92, 92);
  --color-silver-700: rgb(108, 108, 108);
  --color-silver-800: rgb(118, 118, 118);
  --color-silver-900: rgb(137, 137, 137);
  --color-silver-1000: rgb(152, 152, 152);
  --color-silver-1100: rgb(169, 169, 169);
  --color-silver-1200: rgb(190, 190, 190);
  --color-silver-1300: rgb(211, 211, 211);
  --color-silver-1400: rgb(229, 229, 229);
  --color-silver-1500: rgb(244, 244, 244);
  --color-silver-1600: rgb(255, 255, 255);
  --color-cinnamon-100: rgb(48, 17, 4);
  --color-cinnamon-200: rgb(59, 21, 5);
  --color-cinnamon-300: rgb(79, 28, 7);
  --color-cinnamon-400: rgb(100, 41, 15);
  --color-cinnamon-500: rgb(122, 57, 28);
  --color-cinnamon-600: rgb(143, 74, 40);
  --color-cinnamon-700: rgb(163, 88, 52);
  --color-cinnamon-800: rgb(176, 98, 59);
  --color-cinnamon-900: rgb(192, 119, 80);
  --color-cinnamon-1000: rgb(206, 136, 99);
  --color-cinnamon-1100: rgb(220, 154, 118);
  --color-cinnamon-1200: rgb(232, 179, 149);
  --color-cinnamon-1300: rgb(239, 203, 183);
  --color-cinnamon-1400: rgb(246, 225, 214);
  --color-cinnamon-1500: rgb(252, 244, 239);
  --color-cinnamon-1600: rgb(255, 255, 255);
  --color-static-blue-900: rgb(59, 99, 251);
  --color-static-blue-1000: rgb(39, 77, 234);
  --color-static-fuchsia-400: rgb(247, 181, 255);
  --color-static-fuchsia-600: rgb(236, 105, 255);
  --color-static-fuchsia-800: rgb(200, 68, 220);
  --color-static-fuchsia-900: rgb(181, 57, 200);
  --color-static-fuchsia-1000: rgb(156, 40, 175);
  --color-static-indigo-400: rgb(192, 201, 255);
  --color-static-indigo-600: rgb(145, 151, 254);
  --color-static-indigo-800: rgb(122, 106, 253);
  --color-static-indigo-900: rgb(113, 85, 250);
  --color-static-indigo-1000: rgb(99, 56, 238);
  --color-static-magenta-400: rgb(255, 185, 208);
  --color-static-magenta-600: rgb(255, 112, 159);
  --color-static-magenta-800: rgb(240, 45, 110);
  --color-static-magenta-900: rgb(217, 35, 97);
  --color-static-magenta-1000: rgb(186, 22, 80);
  --color-static-red-400: rgb(255, 188, 180);
  --color-static-red-600: rgb(255, 118, 101);
  --color-static-red-800: rgb(240, 56, 35);
  --color-static-red-900: rgb(215, 50, 32);
  --color-static-red-1000: rgb(183, 40, 24);
  --color-static-cyan-400: rgb(138, 213, 255);
  --color-static-cyan-600: rgb(48, 167, 254);
  --color-static-cyan-800: rgb(18, 134, 205);
  --color-static-chartreuse-400: rgb(182, 219, 0);
  --color-static-chartreuse-600: rgb(143, 172, 0);
  --color-static-chartreuse-800: rgb(114, 137, 0);
  --color-static-green-400: rgb(107, 227, 162);
  --color-static-green-600: rgb(18, 184, 103);
  --color-static-green-800: rgb(7, 147, 85);
  --color-static-orange-400: rgb(255, 193, 94);
  --color-static-orange-600: rgb(252, 125, 0);
  --color-static-orange-800: rgb(212, 91, 0);
  --color-static-purple-400: rgb(221, 193, 246);
  --color-static-purple-600: rgb(191, 138, 238);
  --color-static-purple-800: rgb(166, 92, 231);
  --color-static-turquoise-400: rgb(111, 221, 228);
  --color-static-turquoise-600: rgb(15, 177, 192);
  --color-static-turquoise-800: rgb(10, 141, 153);
  --color-gradient-stop-1-avatar: 0;
  --color-gradient-stop-2-avatar: 0.6666;
  --color-gradient-stop-3-avatar: 1;
}
