name: Publish to npm

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version bump type
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - uses: nixbuild/nix-quick-install-action@v30

      - uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          purge: true
          purge-prefixes: nix-${{ runner.os }}-
          purge-created: 0
      - run: nix develop --command pnpm install --frozen-lockfile
      - run: nix develop --command make dist
      - run: npm version ${{ inputs.version }}
      - run: git push --follow-tags
      - run: nix develop --command pnpm publish --no-git-checks --provenance
